In [40]:
# Library Imports.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pickle

# Allows plots to appear directly in the notebook.
%matplotlib inline

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn import metrics
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score

In [41]:
df_a = pd.read_csv("availability.csv") #availability
df_w = pd.read_csv("historical_weather.csv") #weather

In [42]:
df_a.dtypes

NUMBER                    int64
last_update              object
open                      int64
bike_stands               int64
available_bikes           int64
available_bike_stands     int64
dtype: object

In [43]:
df_a.head()

,NUMBER,last_update,open,bike_stands,available_bikes,available_bike_stands
0,1,2023-03-21 22:53:18,1,31,3,28
1,1,2023-03-21 23:13:31,1,31,3,28
2,1,2023-03-22 16:40:19,1,31,16,15
3,1,2023-03-22 16:50:24,1,31,16,15
4,1,2023-03-22 17:21:38,1,31,12,19

In [44]:
df_a[['bike_stands', 'available_bikes', 'available_bike_stands']].corr()

                       bike_stands  available_bikes  available_bike_stands
bike_stands               1.000000         0.205633               0.517013
available_bikes           0.205633         1.000000              -0.711744
available_bike_stands     0.517013        -0.711744               1.000000

In [45]:
df_w.dtypes

date         object
time         object
weather      object
temp        float64
humidity    float64
speed       float64
degrees       int64
dtype: object

In [46]:
df_w.head()

         date      time        weather   temp  humidity   speed  degrees
0  2023-04-09  18:38:45  moderate rain  12.61      8.75  200.00       80
1  2023-04-09  18:55:18  broken clouds  12.40     81.00    8.75      200
2  2023-04-10  16:20:02     light rain   9.23     72.00   12.86      290
3  2023-04-10  16:25:01     light rain   9.16     72.00   12.86      290
4  2023-04-10  16:30:02     light rain   9.23     72.00   12.86      290

# Changing time to Hour

In [47]:
df_a['last_update'] = pd.to_datetime(df_a['last_update'])
df_a['timehours_availability'] = df_a['last_update'].dt.strftime('%H')
df_a['date'] = df_a['last_update'].dt.date
df_a['bID'] = df_a.reset_index().index + 1 #ID number for model
df_a

,NUMBER,last_update,open,bike_stands,available_bikes,available_bike_stands,timehours_availability,date,bID
0,1,2023-03-21 22:53:18,1,31,3,28,22,2023-03-21,1
1,1,2023-03-21 23:13:31,1,31,3,28,23,2023-03-21,2
2,1,2023-03-22 16:40:19,1,31,16,15,16,2023-03-22,3
3,1,2023-03-22 16:50:24,1,31,16,15,16,2023-03-22,4
4,1,2023-03-22 17:21:38,1,31,12,19,17,2023-03-22,5
...,...,...,...,...,...,...,...,...,...
364071,117,2023-04-11 08:35:41,1,40,2,38,08,2023-04-11,364072
364072,117,2023-04-11 08:41:48,1,40,3,37,08,2023-04-11,364073
364073,117,2023-04-11 08:45:46,1,40,3,37,08,2023-04-11,364074
364074,117,2023-04-11 08:51:12,1,40,5,35,08,2023-04-11,364075
364075,117,2023-04-11 08:57:50,1,40,6,34,08,2023-04-11,364076

In [48]:
df_w['time'] = pd.to_datetime(df_w['time'])
df_w['timehours_weather'] = df_w['time'].dt.strftime('%H')
df_w['wID'] = df_w.reset_index().index + 1
df_w

,date,time,weather,temp,humidity,speed,degrees,timehours_weather,wID
0,2023-04-09,2023-04-21 18:38:45,moderate rain,12.61,8.75,200.00,80,18,1
1,2023-04-09,2023-04-21 18:55:18,broken clouds,12.40,81.00,8.75,200,18,2
2,2023-04-10,2023-04-21 16:20:02,light rain,9.23,72.00,12.86,290,16,3
3,2023-04-10,2023-04-21 16:25:01,light rain,9.16,72.00,12.86,290,16,4
4,2023-04-10,2023-04-21 16:30:02,light rain,9.23,72.00,12.86,290,16,5
...,...,...,...,...,...,...,...,...,...
197,2023-04-11,2023-04-21 08:35:01,broken clouds,8.98,76.00,5.14,210,08,198
198,2023-04-11,2023-04-21 08:40:01,broken clouds,8.98,76.00,5.14,210,08,199
199,2023-04-11,2023-04-21 08:45:02,broken clouds,8.98,76.00,5.14,210,08,200
200,2023-04-11,2023-04-21 08:50:02,broken clouds,9.08,75.00,5.66,200,08,201
201,2023-04-11,2023-04-21 08:55:01,broken clouds,9.08,75.00,5.66,200,08,202

In [49]:
df_a.columns

Index(['NUMBER', 'last_update', 'open', 'bike_stands', 'available_bikes',
       'available_bike_stands', 'timehours_availability', 'date', 'bID'],
      dtype='object')

In [50]:
df_w['date'] = pd.to_datetime(df_w['date'])
df_a['date'] = pd.to_datetime(df_a['date'])
print(df_w.dtypes)
print(df_a.dtypes)

date                 datetime64[ns]
time                 datetime64[ns]
weather                      object
temp                        float64
humidity                    float64
speed                       float64
degrees                       int64
timehours_weather            object
wID                           int64
dtype: object
NUMBER                             int64
last_update               datetime64[ns]
open                               int64
bike_stands                        int64
available_bikes                    int64
available_bike_stands              int64
timehours_availability            object
date                      datetime64[ns]
bID                                int64
dtype: object

In [51]:
df = pd.merge(df_a, df_w, on='date')

In [52]:
# One-hot encode the 'description' column
df = pd.get_dummies(df, columns= ['weather'])
df.head()

,NUMBER,last_update,open,bike_stands,available_bikes,available_bike_stands,timehours_availability,date,bID,time,...,speed,degrees,timehours_weather,wID,weather_broken clouds,weather_few clouds,weather_heavy intensity rain,weather_light rain,weather_moderate rain,weather_scattered clouds
0,1,2023-04-09 00:07:17,1,31,6,25,00,2023-04-09,2919,2023-04-21 18:38:45,...,200.00,80,18,1,0,0,0,0,1,0
1,1,2023-04-09 00:07:17,1,31,6,25,00,2023-04-09,2919,2023-04-21 18:55:18,...,8.75,200,18,2,1,0,0,0,0,0
2,1,2023-04-09 00:17:21,1,31,6,25,00,2023-04-09,2920,2023-04-21 18:38:45,...,200.00,80,18,1,0,0,0,0,1,0
3,1,2023-04-09 00:17:21,1,31,6,25,00,2023-04-09,2920,2023-04-21 18:55:18,...,8.75,200,18,2,1,0,0,0,0,0
4,1,2023-04-09 00:27:25,1,31,6,25,00,2023-04-09,2921,2023-04-21 18:38:45,...,200.00,80,18,1,0,0,0,0,1,0

In [53]:
df = df.drop(columns=['last_update'])
df.columns

Index(['NUMBER', 'open', 'bike_stands', 'available_bikes',
       'available_bike_stands', 'timehours_availability', 'date', 'bID',
       'time', 'temp', 'humidity', 'speed', 'degrees', 'timehours_weather',
       'wID', 'weather_broken clouds', 'weather_few clouds',
       'weather_heavy intensity rain', 'weather_light rain',
       'weather_moderate rain', 'weather_scattered clouds'],
      dtype='object')

In [54]:
df.columns
features = df[['NUMBER', 'timehours_weather', 'available_bikes', 'available_bike_stands', 'temp', 'humidity', 'speed', 'degrees', 'wID']]
features.head(5)

,NUMBER,timehours_weather,available_bikes,available_bike_stands,temp,humidity,speed,degrees
0,1,18,6,25,12.61,8.75,200.00,80
1,1,18,6,25,12.40,81.00,8.75,200
2,1,18,6,25,12.61,8.75,200.00,80
3,1,18,6,25,12.40,81.00,8.75,200
4,1,18,6,25,12.61,8.75,200.00,80

In [55]:
# example of making a single class prediction
# X['timehours_weather'] = X['timehours_weather'].astype(int)
# X['date'] = X['date'].astype(int)
# X['time'] = X['time'].astype(int)
# X['time'] = X['time'].astype(int)

# X.dtypes

In [56]:
stationnumbers = list(features['NUMBER'].unique())
stationnumbers.sort()

for station_id in stationnumbers:
    station_data = features[features['NUMBER'] == station_id]
    y = station_data[['available_bikes', 'available_bike_stands']]
    X = station_data.drop(columns=['available_bikes', 'available_bike_stands'])
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    # fit final model, train a machine learning model
    model = LinearRegression()
    model.fit(X_train, y_train)

    # Serialize the trained model into a file called model.pkl
    with open(f'model_{station_id}.pkl', 'wb') as handle:
        pickle.dump(model, handle, pickle.HIGHEST_PROTOCOL)

    # Deserialize the model.pkl file into an object called model
    with open(f'model_{station_id}.pkl', 'rb') as handle:
        model = pickle.load(handle)

    # Evaluate the model
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    # print(f"Mean Squared Error for station {station_id}:", mse)

Mean Squared Error for station 1: 23.604533822909225
Mean Squared Error for station 2: 3.9472741631578465
Mean Squared Error for station 3: 12.636232427302048
Mean Squared Error for station 4: 11.425654664934969
Mean Squared Error for station 5: 14.820484101319444
Mean Squared Error for station 6: 11.968575614353712
Mean Squared Error for station 7: 1.3395343281368584
Mean Squared Error for station 8: 4.437869002991877
Mean Squared Error for station 9: 15.928593011270145
Mean Squared Error for station 10: 7.694118814278234
Mean Squared Error for station 11: 15.092669741051452
Mean Squared Error for station 12: 1.1243641177123296
Mean Squared Error for station 13: 7.478036058970661
Mean Squared Error for station 14: 25.527666388036828
Mean Squared Error for station 15: 2.961056957531671
Mean Squared Error for station 16: 7.294755561823717
Mean Squared Error for station 17: 10.164185998314785
Mean Squared Error for station 18: 11.379807266601755
Mean Squared Error for station 19: 24.47962142853637
Mean Squared Error for station 20: 12.650053579915685
Mean Squared Error for station 21: 28.076974818809635
Mean Squared Error for station 22: 12.721917180554522
Mean Squared Error for station 23: 22.10732874388236
Mean Squared Error for station 24: 4.358810934219077
Mean Squared Error for station 25: 14.545052327201837
Mean Squared Error for station 26: 7.949393229154918
Mean Squared Error for station 27: 16.606516956669267
Mean Squared Error for station 28: 28.255620425517115
Mean Squared Error for station 29: 33.63773916831774
Mean Squared Error for station 30: 5.836446466549612
Mean Squared Error for station 31: 20.110466420844098
Mean Squared Error for station 32: 15.004162072155372
Mean Squared Error for station 33: 24.69268776334656
Mean Squared Error for station 34: 47.177460418353945
Mean Squared Error for station 35: 25.8766583558591
Mean Squared Error for station 36: 8.340379679393296
Mean Squared Error for station 37: 2.441575828635433
Mean Squared Error for station 38: 6.888919122442784
Mean Squared Error for station 39: 1.9940914803660583
Mean Squared Error for station 40: 5.994928010346265
Mean Squared Error for station 41: 1.159120284467388
Mean Squared Error for station 42: 11.714427940330665
Mean Squared Error for station 43: 27.75609482732255
Mean Squared Error for station 44: 12.88708294945285
Mean Squared Error for station 45: 12.26728007015243
Mean Squared Error for station 47: 13.943651101406417
Mean Squared Error for station 48: 4.958859559950316
Mean Squared Error for station 49: 12.89181395014155
Mean Squared Error for station 50: 28.634282202214568
Mean Squared Error for station 51: 8.326400100470511
Mean Squared Error for station 52: 25.637116701915787
Mean Squared Error for station 53: 9.505360369092656
Mean Squared Error for station 54: 12.04729489324539
Mean Squared Error for station 55: 5.328454632191352
Mean Squared Error for station 56: 33.49891515553199
Mean Squared Error for station 57: 4.318843382163004
Mean Squared Error for station 58: 37.14084606924625
Mean Squared Error for station 59: 9.246865415700597
Mean Squared Error for station 60: 22.98405593240891
Mean Squared Error for station 61: 1.1270862152919143
Mean Squared Error for station 62: 1.2163647805609243
Mean Squared Error for station 63: 10.588585230988313
Mean Squared Error for station 64: 8.137441297201475
Mean Squared Error for station 65: 74.84959254882956
Mean Squared Error for station 66: 39.72733620184671
Mean Squared Error for station 67: 6.330061213985372
Mean Squared Error for station 68: 38.22715447319533
Mean Squared Error for station 69: 57.73090289197121
Mean Squared Error for station 71: 8.225232198495332
Mean Squared Error for station 72: 13.69956341836777
Mean Squared Error for station 73: 3.3358039471751004
Mean Squared Error for station 74: 9.417419600710176
Mean Squared Error for station 75: 9.655248565728701
Mean Squared Error for station 76: 14.00227777118732
Mean Squared Error for station 77: 38.43546151245161
Mean Squared Error for station 78: 4.382797674978103
Mean Squared Error for station 79: 1.511607824361484
Mean Squared Error for station 80: 2.3039582083744925
Mean Squared Error for station 82: 2.7018804257548377
Mean Squared Error for station 83: 16.92088374587891
Mean Squared Error for station 84: 10.4977057446295
Mean Squared Error for station 85: 14.180228301642025
Mean Squared Error for station 86: 37.62659605315089
Mean Squared Error for station 87: 7.56352496469391
Mean Squared Error for station 88: 13.104410137963907
Mean Squared Error for station 89: 2.6865925274003377
Mean Squared Error for station 90: 41.163679764812414
Mean Squared Error for station 91: 10.165194818479407
Mean Squared Error for station 92: 27.6297060634054
Mean Squared Error for station 93: 36.32781610767073
Mean Squared Error for station 94: 0.7302264829264973
Mean Squared Error for station 95: 14.058061751715382
Mean Squared Error for station 96: 2.3196116879015705
Mean Squared Error for station 97: 8.621645410794365
Mean Squared Error for station 98: 16.143915588951714
Mean Squared Error for station 99: 21.41985382177625
Mean Squared Error for station 100: 14.47010113587503
Mean Squared Error for station 101: 8.968513180567628
Mean Squared Error for station 102: 35.544504101674036
Mean Squared Error for station 103: 2.851483571022647
Mean Squared Error for station 104: 5.726688572382692
Mean Squared Error for station 105: 4.477633672442485
Mean Squared Error for station 106: 34.21281370555915
Mean Squared Error for station 107: 19.629411597641564
Mean Squared Error for station 108: 24.16516739241883
Mean Squared Error for station 109: 2.640951433013427
Mean Squared Error for station 110: 42.40553071324182
Mean Squared Error for station 111: 13.454636575936952
Mean Squared Error for station 112: 32.517093102474234
Mean Squared Error for station 113: 0.6022377651111089
Mean Squared Error for station 114: 60.81694912782427
Mean Squared Error for station 115: 31.8961275126059
Mean Squared Error for station 116: 0.8167045859198987
Mean Squared Error for station 117: 0.629965853242008

In [57]:
# one row of data-frame returns one row of prediction
X_test_one_row = X_test.head(1)
X_test_one_row # 1-row dataframe

         NUMBER timehours_weather  temp  humidity  speed  degrees
1735284     117                17  7.82      81.0  10.29      270

In [58]:
y_pred_from_one_row = model.predict(X_test_one_row)
y_pred_from_one_row

array([[ 0., 40.]])