In [199]:
# Library Imports.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pickle

# Allows plots to appear directly in the notebook.
%matplotlib inline

from patsy import dmatrices
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn import metrics
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score

In [159]:
df_a = pd.read_csv("availability.csv") #availability
df_w = pd.read_csv("historical_weather.csv") #weather

In [160]:
df_a.dtypes

NUMBER                    int64
last_update              object
open                      int64
bike_stands               int64
available_bikes           int64
available_bike_stands     int64
dtype: object

In [161]:
df_a.head()

,NUMBER,last_update,open,bike_stands,available_bikes,available_bike_stands
0,1,2023-03-21 22:53:18,1,31,3,28
1,1,2023-03-21 23:13:31,1,31,3,28
2,1,2023-03-22 16:40:19,1,31,16,15
3,1,2023-03-22 16:50:24,1,31,16,15
4,1,2023-03-22 17:21:38,1,31,12,19

In [162]:
df_a[['bike_stands', 'available_bikes', 'available_bike_stands']].corr()

                       bike_stands  available_bikes  available_bike_stands
bike_stands               1.000000         0.205633               0.517013
available_bikes           0.205633         1.000000              -0.711744
available_bike_stands     0.517013        -0.711744               1.000000

In [163]:
df_w.dtypes

date         object
time         object
weather      object
temp        float64
humidity    float64
speed       float64
degrees       int64
dtype: object

In [164]:
df_w.head()

         date      time        weather   temp  humidity   speed  degrees
0  2023-04-09  18:38:45  moderate rain  12.61      8.75  200.00       80
1  2023-04-09  18:55:18  broken clouds  12.40     81.00    8.75      200
2  2023-04-10  16:20:02     light rain   9.23     72.00   12.86      290
3  2023-04-10  16:25:01     light rain   9.16     72.00   12.86      290
4  2023-04-10  16:30:02     light rain   9.23     72.00   12.86      290

# Changing time to Hour

In [165]:
df_a['last_update'] = pd.to_datetime(df_a['last_update'])
df_a['timehours_availability'] = df_a['last_update'].dt.strftime('%H')
df_a['date'] = df_a['last_update'].dt.date
df_a['bID'] = df_a.reset_index().index + 1 #ID number for model
df_a

,NUMBER,last_update,open,bike_stands,available_bikes,available_bike_stands,timehours_availability,date,bID
0,1,2023-03-21 22:53:18,1,31,3,28,22,2023-03-21,1
1,1,2023-03-21 23:13:31,1,31,3,28,23,2023-03-21,2
2,1,2023-03-22 16:40:19,1,31,16,15,16,2023-03-22,3
3,1,2023-03-22 16:50:24,1,31,16,15,16,2023-03-22,4
4,1,2023-03-22 17:21:38,1,31,12,19,17,2023-03-22,5
...,...,...,...,...,...,...,...,...,...
364071,117,2023-04-11 08:35:41,1,40,2,38,08,2023-04-11,364072
364072,117,2023-04-11 08:41:48,1,40,3,37,08,2023-04-11,364073
364073,117,2023-04-11 08:45:46,1,40,3,37,08,2023-04-11,364074
364074,117,2023-04-11 08:51:12,1,40,5,35,08,2023-04-11,364075
364075,117,2023-04-11 08:57:50,1,40,6,34,08,2023-04-11,364076

In [166]:
df_w['time'] = pd.to_datetime(df_w['time'])
df_w['timehours_weather'] = df_w['time'].dt.strftime('%H')
df_w['wID'] = df_w.reset_index().index + 1
df_w

,date,time,weather,temp,humidity,speed,degrees,timehours_weather,wID
0,2023-04-09,2023-04-12 18:38:45,moderate rain,12.61,8.75,200.00,80,18,1
1,2023-04-09,2023-04-12 18:55:18,broken clouds,12.40,81.00,8.75,200,18,2
2,2023-04-10,2023-04-12 16:20:02,light rain,9.23,72.00,12.86,290,16,3
3,2023-04-10,2023-04-12 16:25:01,light rain,9.16,72.00,12.86,290,16,4
4,2023-04-10,2023-04-12 16:30:02,light rain,9.23,72.00,12.86,290,16,5
...,...,...,...,...,...,...,...,...,...
197,2023-04-11,2023-04-12 08:35:01,broken clouds,8.98,76.00,5.14,210,08,198
198,2023-04-11,2023-04-12 08:40:01,broken clouds,8.98,76.00,5.14,210,08,199
199,2023-04-11,2023-04-12 08:45:02,broken clouds,8.98,76.00,5.14,210,08,200
200,2023-04-11,2023-04-12 08:50:02,broken clouds,9.08,75.00,5.66,200,08,201
201,2023-04-11,2023-04-12 08:55:01,broken clouds,9.08,75.00,5.66,200,08,202

In [167]:
df_a.columns

Index(['NUMBER', 'last_update', 'open', 'bike_stands', 'available_bikes',
       'available_bike_stands', 'timehours_availability', 'date', 'bID'],
      dtype='object')

In [168]:
df_w['date'] = pd.to_datetime(df_w['date'])
df_a['date'] = pd.to_datetime(df_a['date'])
print(df_w.dtypes)
print(df_a.dtypes)

date                 datetime64[ns]
time                 datetime64[ns]
weather                      object
temp                        float64
humidity                    float64
speed                       float64
degrees                       int64
timehours_weather            object
wID                           int64
dtype: object
NUMBER                             int64
last_update               datetime64[ns]
open                               int64
bike_stands                        int64
available_bikes                    int64
available_bike_stands              int64
timehours_availability            object
date                      datetime64[ns]
bID                                int64
dtype: object

In [169]:
df = pd.merge(df_a, df_w, on='date')

In [170]:
# One-hot encode the 'description' column
df = pd.get_dummies(df, columns= ['weather'])
df.head()

,NUMBER,last_update,open,bike_stands,available_bikes,available_bike_stands,timehours_availability,date,bID,time,...,speed,degrees,timehours_weather,wID,weather_broken clouds,weather_few clouds,weather_heavy intensity rain,weather_light rain,weather_moderate rain,weather_scattered clouds
0,1,2023-04-09 00:07:17,1,31,6,25,00,2023-04-09,2919,2023-04-12 18:38:45,...,200.00,80,18,1,0,0,0,0,1,0
1,1,2023-04-09 00:07:17,1,31,6,25,00,2023-04-09,2919,2023-04-12 18:55:18,...,8.75,200,18,2,1,0,0,0,0,0
2,1,2023-04-09 00:17:21,1,31,6,25,00,2023-04-09,2920,2023-04-12 18:38:45,...,200.00,80,18,1,0,0,0,0,1,0
3,1,2023-04-09 00:17:21,1,31,6,25,00,2023-04-09,2920,2023-04-12 18:55:18,...,8.75,200,18,2,1,0,0,0,0,0
4,1,2023-04-09 00:27:25,1,31,6,25,00,2023-04-09,2921,2023-04-12 18:38:45,...,200.00,80,18,1,0,0,0,0,1,0

In [171]:
df = df.drop(columns=['last_update'])
df.columns

Index(['NUMBER', 'open', 'bike_stands', 'available_bikes',
       'available_bike_stands', 'timehours_availability', 'date', 'bID',
       'time', 'temp', 'humidity', 'speed', 'degrees', 'timehours_weather',
       'wID', 'weather_broken clouds', 'weather_few clouds',
       'weather_heavy intensity rain', 'weather_light rain',
       'weather_moderate rain', 'weather_scattered clouds'],
      dtype='object')

In [173]:
df.columns
features = df[['NUMBER', 'timehours_weather', 'available_bikes', 'available_bike_stands', 'temp', 'humidity', 'speed', 'degrees', 'wID']]
features.head(1)

,NUMBER,timehours_weather,available_bikes,available_bike_stands,temp,humidity,speed,degrees,wID
0,1,18,6,25,12.61,8.75,200.0,80,1

In [197]:
# example of making a single class prediction
X['timehours_weather'] = X['timehours_weather'].astype(int)
# X['date'] = X['date'].astype(int)
# X['time'] = X['time'].astype(int)
# X['time'] = X['time'].astype(int)

X.dtypes

NUMBER                                   int64
open                                     int64
bike_stands                              int64
timehours_availability                  object
date                            datetime64[ns]
bID                                      int64
time                            datetime64[ns]
temp                                   float64
humidity                               float64
speed                                  float64
degrees                                  int64
timehours_weather                        int32
wID                                      int64
weather_broken clouds                    uint8
weather_few clouds                       uint8
weather_heavy intensity rain             uint8
weather_light rain                       uint8
weather_moderate rain                    uint8
weather_scattered clouds                 uint8
1                                       object
dtype: object

In [201]:
stationnumbers = list(features['NUMBER'].unique())
stationnumbers.sort()

for station_id in stationnumbers:
    station_data = features[features['NUMBER'] == station_id]
    y = station_data[['available_bikes', 'available_bike_stands']]
    X = station_data.drop(columns=['available_bikes', 'available_bike_stands'])
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    # fit final model, train a machine learning model
    model = LinearRegression()
    model.fit(X_train, y_train)

    # Serialize the trained model into a file called model.pkl
    with open(f'model_{station_id}.pkl', 'wb') as handle:
        pickle.dump(model, handle, pickle.HIGHEST_PROTOCOL)

    # Deserialize the model.pkl file into an object called model
    with open(f'model_{station_id}.pkl', 'rb') as handle:
        model = pickle.load(handle)

    # Evaluate the model
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    print(f"Mean Squared Error for station {station_id}:", mse)

Mean Squared Error for station 1: 23.479742281222066
Mean Squared Error for station 2: 3.919850815434741
Mean Squared Error for station 3: 12.574209573514604
Mean Squared Error for station 4: 11.34924124373874
Mean Squared Error for station 5: 14.621981959021518
Mean Squared Error for station 6: 11.883862793726422
Mean Squared Error for station 7: 1.3891968151365486
Mean Squared Error for station 8: 4.418461899597515
Mean Squared Error for station 9: 15.805601900872244
Mean Squared Error for station 10: 7.648443642744901
Mean Squared Error for station 11: 14.939312996585437
Mean Squared Error for station 12: 1.1141905964946268
Mean Squared Error for station 13: 7.413942678600815
Mean Squared Error for station 14: 25.336558977536242
Mean Squared Error for station 15: 2.937139617335627
Mean Squared Error for station 16: 7.20135126075091
Mean Squared Error for station 17: 10.129296055970865
Mean Squared Error for station 18: 11.31311403231722
Mean Squared Error for station 19: 24.383833968150586
Mean Squared Error for station 20: 12.415655129571768
Mean Squared Error for station 21: 27.818980221553062
Mean Squared Error for station 22: 12.64307504308197
Mean Squared Error for station 23: 21.962586536609237
Mean Squared Error for station 24: 4.336877010016073
Mean Squared Error for station 25: 14.40151349509211
Mean Squared Error for station 26: 7.913316998570881
Mean Squared Error for station 27: 16.439803504871563
Mean Squared Error for station 28: 28.08944010338477
Mean Squared Error for station 29: 33.4668681420178
Mean Squared Error for station 30: 5.803375415770809
Mean Squared Error for station 31: 19.989768589482914
Mean Squared Error for station 32: 14.880433050405989
Mean Squared Error for station 33: 24.50275144814315
Mean Squared Error for station 34: 47.26394763956786
Mean Squared Error for station 35: 25.67870954069713
Mean Squared Error for station 36: 8.278767528884638
Mean Squared Error for station 37: 2.4030149801629324
Mean Squared Error for station 38: 6.83865951712351
Mean Squared Error for station 39: 1.983229122834071
Mean Squared Error for station 40: 5.952805492498944
Mean Squared Error for station 41: 1.1623753613129406
Mean Squared Error for station 42: 11.555816118917857
Mean Squared Error for station 43: 27.565233002112485
Mean Squared Error for station 44: 12.7645821622232
Mean Squared Error for station 45: 12.141053424973652
Mean Squared Error for station 47: 13.669305599272956
Mean Squared Error for station 48: 5.005105579230766
Mean Squared Error for station 49: 12.83884589918961
Mean Squared Error for station 50: 28.44127241172729
Mean Squared Error for station 51: 8.245313866278526
Mean Squared Error for station 52: 25.895807737448013
Mean Squared Error for station 53: 9.374346355751955
Mean Squared Error for station 54: 12.053109096061043
Mean Squared Error for station 55: 5.24179595906198
Mean Squared Error for station 56: 33.28569415599181
Mean Squared Error for station 57: 4.28746653756968
Mean Squared Error for station 58: 36.75726733179343
Mean Squared Error for station 59: 9.213302234922697
Mean Squared Error for station 60: 22.80094195018406
Mean Squared Error for station 61: 1.115735755116583
Mean Squared Error for station 62: 1.208247304086171
Mean Squared Error for station 63: 10.57281104526111
Mean Squared Error for station 64: 8.112760765637928
Mean Squared Error for station 65: 73.75288270491188
Mean Squared Error for station 66: 39.29302944906799
Mean Squared Error for station 67: 6.265530515143181
Mean Squared Error for station 68: 38.04440773640944
Mean Squared Error for station 69: 57.74651287477617
Mean Squared Error for station 71: 8.126018846480628
Mean Squared Error for station 72: 13.584091440691708
Mean Squared Error for station 73: 3.313218484739812
Mean Squared Error for station 74: 9.288972334073385
Mean Squared Error for station 75: 9.577986151432924
Mean Squared Error for station 76: 13.83096598158195
Mean Squared Error for station 77: 38.094472745037514
Mean Squared Error for station 78: 4.428261498273747
Mean Squared Error for station 79: 1.6190189262645376
Mean Squared Error for station 80: 2.3173588286673112
Mean Squared Error for station 82: 2.6947903503646793
Mean Squared Error for station 83: 16.75897789159647
Mean Squared Error for station 84: 10.36403707140903
Mean Squared Error for station 85: 14.04408516129109
Mean Squared Error for station 86: 37.326509679064316
Mean Squared Error for station 87: 7.514157718933206
Mean Squared Error for station 88: 12.94392444565796
Mean Squared Error for station 89: 2.6531214248803066
Mean Squared Error for station 90: 40.569686974997914
Mean Squared Error for station 91: 10.148698903238621
Mean Squared Error for station 92: 27.195005187219508
Mean Squared Error for station 93: 35.87933452666962
Mean Squared Error for station 94: 0.7182373816627914
Mean Squared Error for station 95: 14.03848760640874
Mean Squared Error for station 96: 2.4968319062501196
Mean Squared Error for station 97: 8.593823255680583
Mean Squared Error for station 98: 16.13285911212967
Mean Squared Error for station 99: 21.10367454709226
Mean Squared Error for station 100: 14.417431061269443
Mean Squared Error for station 101: 8.917252216746999
Mean Squared Error for station 102: 35.276421293152765
Mean Squared Error for station 103: 2.8169426742194084
Mean Squared Error for station 104: 5.715707893447716
Mean Squared Error for station 105: 4.7172591940441615
Mean Squared Error for station 106: 33.88140615443148
Mean Squared Error for station 107: 19.658231110907824
Mean Squared Error for station 108: 23.96288886754759
Mean Squared Error for station 109: 2.6198908811313446
Mean Squared Error for station 110: 42.13870793597335
Mean Squared Error for station 111: 13.299036791702445
Mean Squared Error for station 112: 32.322140962960546
Mean Squared Error for station 113: 0.6067016500433067
Mean Squared Error for station 114: 60.25150419857975
Mean Squared Error for station 115: 31.638622607345628
Mean Squared Error for station 116: 0.8116556861713786
Mean Squared Error for station 117: 0.6240903113325952